@model Rtc.Mvc.ViewModels.LogInViewModel

@{
    ViewBag.Title = "Log in";
}

@section body
{
    <h2>@ViewBag.Title.</h2>
    <div class="row">
        <div class="col-md-8">
            <section id="loginForm">
                @using (Html.BeginForm("LogIn", "Account", new { ViewBag.ReturnUrl, }, FormMethod.Post,
                    new { @class = "form-horizontal", role = "form" }))
                {
                    @Html.AntiForgeryToken()
                    <h4>Your friends are waiting for you.</h4>
                    <hr />
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                    <div class="form-group">
                        @Html.LabelFor(m => m.LogInToken, new { @class = "col-md-4 control-label" })
                        <div class="col-md-5">
                            @Html.TextBoxFor(m => m.LogInToken, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.LogInToken, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.Password, new { @class = "col-md-4 control-label" })
                        <div class="col-md-5">
                            @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-offset-4 col-md-1">
                            <input type="submit" value="Log in" class="btn btn-default" />
                        </div>
                        <div class="col-md-6">
                            <div class="checkbox">
                                @Html.LabelFor(m => m.RememberMe, new { @class = "col-md-6" })
                                @Html.CheckBoxFor(m => m.RememberMe, new { @class = "col-md-1" })
                            </div>
                        </div>


                    </div>
                }

            </section>
        </div>
        <div class="col-md-4">
            <section id="signUp">
                <h4>Do not have an account?</h4>
                <hr />
                @Html.ActionLink("Sign up", "SignUp", "Account", null, new { @class = "btn btn-default" })
            </section>
        </div>
    </div>
}

@section scripts
{
    @Scripts.Render("~/bundles/jqueryval")
}
