@model Rtc.Mvc.ViewModels.LogInViewModel

<div class="row">
    <div class="col-md-8">
        <section id="loginSection">
            @using (Html.BeginForm("LogIn", "Account", new { ViewBag.ReturnUrl, }, FormMethod.Post, new
            {
                @class = "form-horizontal",
                role = "form",
                id = "logInForm",
            }))
            {
                @Html.AntiForgeryToken()
                <h4>Your friends are waiting for you.</h4>
                <hr />

                <div id="validSum">
                    <ul class="text-danger"></ul>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.LogInToken, new { @class = "col-md-4 control-label" })
                    <div class="col-md-5">
                        @Html.TextBoxFor(m => m.LogInToken, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.LogInToken, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.Password, new { @class = "col-md-4 control-label" })
                    <div class="col-md-5">
                        @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <div class="checkbox col-md-4">
                        @Html.LabelFor(m => m.RememberMe, new { @class = "col-md-8" })
                        @Html.CheckBoxFor(m => m.RememberMe, new { @class = "col-md-1" })
                    </div>
                    <div class="col-md-1">
                        <button type="submit" class="btn btn-default" data-loading-text="Signing in..." id="submitBtn">Log in</button>
                    </div>
                </div>
            }
        </section>
    </div>
    <div class="col-md-4">
        <section id="signUp">
            <h4>Do not have an account?</h4>
            <hr />
            <a class="btn btn-default" id="showSignUp">Sign up</a>
        </section>
    </div>
</div>
