@model Rtc.Mvc.ViewModels.SignUpViewModel

<div class="row">
    <div class="col-md-8">
        <section id="signUpSection">
            @using (Html.BeginForm("SignUp", "Account", new { ViewBag.ReturnUrl, }, FormMethod.Post, new
            {
                @class = "form-horizontal",
                role = "form",
                enctype = "multipart/form-data",
                id = "signUpForm",
            }))
            {
                @Html.AntiForgeryToken()
                <h4>It's time to quickly create an account.</h4>
                <hr />
                
                <div id="validSum">
                    <ul class="text-danger"></ul>
                </div>

                <div class="form-group">
                    @Html.Label("Photo", new { @class = "col-md-3 control-label" })

                    <div class="col-md-6">
                        <input type="file" name="Photo" class="form-control" accept="image/*" />
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.Name, new { @class = "col-md-3 control-label" })
                    <div class="col-md-6">
                        @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Name, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.Email, new { @class = "col-md-3 control-label" })
                    <div class="col-md-6">
                        @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.PhoneNumber, new { @class = "col-md-3 control-label" })
                    <div class="col-md-6">
                        @Html.TextBoxFor(m => m.PhoneNumber, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.PhoneNumber, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(m => m.Password, new { @class = "col-md-3 control-label" })
                    <div class="col-md-6">
                        @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-3 control-label" })
                    <div class="col-md-6">
                        @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.ConfirmPassword, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-3 col-md-6">
                        <button type="submit" class="btn btn-default" data-loading-text="Signing up..." id="submitBtn">Sign up</button>
                    </div>
                </div>
            }
        </section>
    </div>
    <div class="col-md-4">
        <section id="logIn">
            <h4>Already have an account?</h4>
            <hr />
            <a class="btn btn-default" id="showLogIn">Log in</a>
        </section>
    </div>
</div>
